<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Montag Book Recommendations</title>

		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		<link href="../static/signup.css" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			{% for message in get_flashed_messages() %}
				<div class="flash">{{ message }}</div>
			{% endfor %}

			{% block body %}{% endblock %}
			<!-- <form action="{{ url_for('auth.login') }}" method="post">
			{#
			{{ form.csrf_token }}
			<dl>
			{{ render_field(form.email, placeholder="Email address") }}
			{{ render_field(form.password, placeholder="Password") }}
			#}
			</dl>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
			</form> -->
			<!-- <form class="form-signin" method="post" action="/signUp">
			<label for="inputName" class="sr-only">Name</label>
			<input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

			<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
			</form> -->
		</div>
	</body>
</html>
