{% extends 'layout.html' %}

{% block body %}

<nav class="lookup-breadcrumb" aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
			{% for c in ascii_upper %}
				{% if c == letter %}
					<li class="breadcrumb-item active" aria-current="page">{{ c }}</li>
				{% else %}
					<li class="breadcrumb-item"><a href="{{ url_for('home.book_lookup', letter=c) }}">{{ c }}</a></li>
				{% endif %}
			{% endfor %}
	</ol>
</nav>

<div class="row">
{% for book in books[:100] %}
	<div class="col-sm-4">
		<div class="card">
			<div class="card-header">
    			<h4 class="card-title">{{ book.title }}</h4>
  			</div>
			<img class="card-img-top" src="{{ book.img_url_l }}" />
			<div class="card-body text-center">
				<h6 class="card-text">By {{ book.author }}</h6>
				<form action="{{ url_for('auth.save_preference', uid=current_user.id) }}" method="post">
					<input type="hidden" name="uid" value="{{ current_user.id }}">
					<input type="hidden" name="isbn" value="{{ book.isbn }}">

					{% if book.isbn not in liked_isbns %}
						<input type="hidden" name="preference" value="like">
						<button type="submit" formmethod="post" class="btn btn-primary">Like</button>
					{% else %}
						<input type="hidden" name="preference" value="unlike">
						<button type="submit" formmethod="post" class="btn btn-primary">Un-Like</button>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endfor %}
</div>

{% endblock %}
