{% extends 'layout.html' %}

{% block body %}

<nav aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
			{% for c in ascii_upper %}
				{% if c == letter %}
					<li class="breadcrumb-item active" aria-current="page">{{ c }}</li>
				{% else %}
					<li class="breadcrumb-item"><a href="{{ url_for('home.book_lookup', letter=c) }}">{{ c }}</a></li>
				{% endif %}
			{% endfor %}
	</ol>
</nav>

<div class="row">
{% for book in books[:6] %}
	<div class="col-sm-2">
		<div class="card">
			<div class="card-header">
    			{{ book.title }}
  			</div>
			<img class="card-img-top" src="{{ book.img_url_m }}" />
			<div class="card-block">
				<h6 class="card-text">{{ book.author }}</h6>
				<!-- <p>{{ book.author }}</p>
				<p>{{ book.publisher }}</p> -->
				<a href="#" class="btn btn-primary">Like</a>
			</div>
			<!-- <img src="{{ book.img_url_s }}" />
			<img src="{{ book.img_url_m }}" />
			<img src="{{ book.img_url_l }}" /> -->
		</div>
	</div>
{% endfor %}
</div>

{% endblock %}
